body {
    background-image: url(./istockphoto.jpg);
    background-repeat: no-repeat;
    background-size: unset;
    background-position: 30% -30%;
}

h1 {
    text-align: center;
    color: #4738D7;
}

h3 {
    margin-left: 25%;
    color: #3489db;

}

#addText {
    text-align: center;
}

#listOfText {
    padding-left: 5%;
    /* float: left; */
    margin-left: 20%;
    list-style-type: none;
    position: fixed;
    z-index: 1000;
    color: #5c93c7;
}

/* #del {
    float: right;
    
} */